fastapi==0.135.3
uvicorn==0.42.0
requests==2.31.0
python-dotenv==1.0.1

langchain==1.2.14
langgraph==1.1.4
langchain-openai==1.1.12
langchain-mcp-adapters==0.2.2
langsmith==0.7.24

openai==2.30.0
httpx==0.28.1
